/.idea/.idea.Nqspz/.idea/.gitignore
/Algebra/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/Algebra/obj/Debug/net9.0/Algebra.AssemblyInfo.cs
/Algebra/obj/Debug/net9.0/Algebra.AssemblyInfoInputs.cache
/Algebra/obj/Debug/net9.0/Algebra.assets.cache
/Algebra/obj/Algebra.csproj.nuget.dgspec.json
/Algebra/obj/Algebra.csproj.nuget.g.props
/Algebra/obj/Algebra.csproj.nuget.g.targets
/Algebra/obj/Debug/net9.0/Algebra.GeneratedMSBuildEditorConfig.editorconfig
/Algebra/obj/Debug/net9.0/Algebra.GlobalUsings.g.cs
/.idea/.idea.Nqspz/.idea/indexLayout.xml
/Algebra/obj/project.assets.json
/Algebra/obj/project.nuget.cache
/Algebra/obj/project.packagespec.json
/Algebra/obj/rider.project.restore.info
/.idea/.idea.Nqspz/.idea/vcs.xml
